main {
    position: relative;
    min-width: 30%;
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

.deco {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 20em;
    height: 100%;
}